:root {
    --color-accent: #79eb6d;
    --color-text: #d6d6d6;
    --color-background: #17191a;
}

@font-face {
    font-family: Cantarell;
    src: url(/assets/cantarell.ttf);
    font-weight: 400;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
}


.container {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.main {
    padding: 32px;
    min-height: 100svh;
}

.text {
    font-family: Cantarell, sans-serif;
    color: var(--color-text);
}

.text-lg {
    font-size: 32px;
}

.text-md {
    font-size: 24px;
}

.text-bold {
    font-weight: bold;
}


.text-italic {
    font-style: italic;
}

a {
    font-family: Cantarell, sans-serif;
    color: var(--color-accent);
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}